body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#0b1220;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    text-align:center;
    background:#121a2e;
    padding:30px;
    border-radius:12px;
    width:320px;
    box-shadow:0 0 20px rgba(0,0,0,0.5);
}

button{
    background:#22c55e;
    border:none;
    padding:12px;
    margin-top:10px;
    width:100%;
    color:white;
    font-size:16px;
    border-radius:8px;
    cursor:pointer;
}

input{
    width:100%;
    padding:10px;
    margin-top:10px;
    border-radius:8px;
    border:none;
}

.card{
    margin-top:20px;
}
